# Python tutorial for Data science
> https://www.coursera.org/learn/python-for-applied-data-science-ai/

## Data Type for python

1. Text Type : `str`
2. Numeric Types : `int`, `float`, `complex`
3. Sequence Types : `list`, `tuple`, `range`
4. Mapping Type : `dict`
5. Set Types : `set`, `frozenset`
6. Boolean Type : `bool`
7. Binary Types : `bytes`, `bytearray`, `memoryview`

In [14]:
#using type() function to check data type
print(type(11))
print(type(11.11))
print(type("Welcome to python"))

<class 'int'>
<class 'float'>
<class 'str'>

Data types are class in python

### Typecasting
> Change certain type of data into other data type

In [1]:
# integer -> float
# 2 -> 2.0
# <class 'int'> -> <class 'float'>
x = 2
x = float(x)
print(x) 
print(type(x)) 



# float -> integer
# 2.34 -> 2
# <class 'float'> -> <class 'int'>
y = 2.34
y = int(y)
print(y)
print(type(y))

# int -> str
# 5 -> "5"
# <class 'int'> -> <class 'str'>
z = 5
z = str(z)
print(z)
print(type(z))

# str -> int
# Error occurred
# use ord(), chr() function for ascii conversion
a = "A"
a = int(a)
print(a)
print(type(a))

2.0
<class 'float'>
2
<class 'int'>
5
<class 'str'>

ValueError: invalid literal for int() with base 10: 'A'

In [2]:
x = 4/2
print(x)
print(type(x))

2.0
<class 'float'>

### Interpreted Language VS Compiled Language

|             | Compiled Lang                                         | Interpreted Lang                    |
|-------------|-------------------------------------------------------|-------------------------------------|
| Environment | Compiler                                              | Interpreter                         |
| Execution   | Code -> Compile -> Machine readable code -> Execution | Execute line by line by interpreter |
| Pros        | Faster than interpreted programs                      | can be modified while running       |
| Examples    | C, C++, C#                                            | PHP, Ruby, Python, JavaScript       |

### String

> String has characteristics of string and sequence

### List

> list is almost sames as array in C language
1. Lists are ordered.
2. Lists can contain any arbitrary objects.
3. List elements can be accessed by index.
4. Lists can be nested to arbitrary depth.
5. Lists are mutable.
6. Lists are dynamic.

In [6]:
# create list
L = ["Michael Jackson", 10.1,1982,"MJ",1]

print(L)

# Last index has not been included
print(L[1:3])

# Extend list
A = ['first extension', 1235]
L += A
print(L)
L.extend(['second extension', 123])
print(L)

# Append list
L.append(['first appending',4567])
print(L)

['Michael Jackson', 10.1, 1982, 'MJ', 1]
[10.1, 1982]
['Michael Jackson', 10.1, 1982, 'MJ', 1, 'first extension', 1235]
['Michael Jackson', 10.1, 1982, 'MJ', 1, 'first extension', 1235, 'second extension', 123]
['Michael Jackson', 10.1, 1982, 'MJ', 1, 'first extension', 1235, 'second extension', 123, ['first appending', 4567]]

> Reference in list ia made by address, So if you change certain list then all the variables referenced the list has been effected

In [9]:
# Reference list(A and L refer sames list in the memory)

A = L
print(L)
print(A)

# Change list

L[0] = 'Queen'
print(L)
print(A)

# Clone list

B = L[:]
print(L)
print(B)

# Change list

L[0] = 'Beetles'
print(L)
print(B) # B has not been effected after changing element in L list because B refer different list which is located differet memory address with L list

['Beetles', 10.1, 1982, 'MJ', 1, 'first extension', 1235, 'second extension', 123, ['first appending', 4567]]
['Beetles', 10.1, 1982, 'MJ', 1, 'first extension', 1235, 'second extension', 123, ['first appending', 4567]]
['Queen', 10.1, 1982, 'MJ', 1, 'first extension', 1235, 'second extension', 123, ['first appending', 4567]]
['Queen', 10.1, 1982, 'MJ', 1, 'first extension', 1235, 'second extension', 123, ['first appending', 4567]]
['Queen', 10.1, 1982, 'MJ', 1, 'first extension', 1235, 'second extension', 123, ['first appending', 4567]]
['Queen', 10.1, 1982, 'MJ', 1, 'first extension', 1235, 'second extension', 123, ['first appending', 4567]]
['Beetles', 10.1, 1982, 'MJ', 1, 'first extension', 1235, 'second extension', 123, ['first appending', 4567]]
['Queen', 10.1, 1982, 'MJ', 1, 'first extension', 1235, 'second extension', 123, ['first appending', 4567]]

### Tuple

1. Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([]).
2. Tuples are immutable.

In [10]:
# Create tuple
tuple1 = ("disco",10,1.2 )
print(tuple1)

('disco', 10, 1.2)

### Dictionaries

> Dictionaries is another data type by using keys and values

In [1]:
# Create dictionaries

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}

print(release_year_dict)

{'Thriller': '1982', 'Back in Black': '1980', 'The Dark Side of the Moon': '1973', 'The Bodyguard': '1992', 'Bat Out of Hell': '1977', 'Their Greatest Hits (1971-1975)': '1976', 'Saturday Night Fever': '1977', 'Rumours': '1977'}

In [2]:
# get value by keys

release_year_dict['Thriller']

'1982'

In [8]:
# Get all keys

print(release_year_dict.keys())

# Get all values

print(release_year_dict.values())

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])
dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [9]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [10]:
# Delete entries by key

del(release_year_dict['Thriller'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [11]:
# Check index validation in dict

"Back in Black" in release_year_dict

True

In [17]:
# Get key by values (values -> index -> keys)
# dict -> list needs to be done by using list function

# first get index by using list.index(<value>)
print(list(release_year_dict.values()).index('1980'))

# After getting index we can find the key
print(list(release_year_dict.keys())[list(release_year_dict.values()).index('1980')])

0
Back in Black

### Sets

> Set is unique collection of objects in Python
> When you create sets, duplicated objects will be removed

In [25]:
# Create a set

set1 = {"Seoul", "NY", "Paris", "NY", "Tokyo", "Seoul"}
set1

{'NY', 'Paris', 'Seoul', 'Tokyo'}

In [26]:
# Add element to set

set1.add("Berlin")
set1

{'Berlin', 'NY', 'Paris', 'Seoul', 'Tokyo'}

In [27]:
# Remove element from set

set1.remove("Seoul")
set1

{'Berlin', 'NY', 'Paris', 'Tokyo'}

In [34]:
# Intersection between two sets

set2 = {"Seoul", "NY", "Paris"}

print(set1, set2)

intersection = set1 & set2

# Below code work same
print(intersection)
print(set1.intersection(set2))

{'Berlin', 'Tokyo', 'Paris', 'NY'} {'Seoul', 'NY', 'Paris'}
{'NY', 'Paris'}
{'NY', 'Paris'}

In [42]:
# Difference between two sets

print(set1.difference(set2))
print(set1 - set2)

print(set2.difference(set1))
print(set2 - set1)

{'Tokyo', 'Berlin'}
{'Tokyo', 'Berlin'}
{'Seoul'}
{'Seoul'}

In [46]:
# Union of two sets

print(set1.union(set2))

{'Seoul', 'NY', 'Berlin', 'Tokyo', 'Paris'}

In [48]:
# Check superset or subset

set3 = {"Tokyo", "Berlin"}

print(set3.issuperset(set1))
print(set3.issubset(set1))

False
True

### Loops

> for vs while loop

In [9]:
# range object, range(
# range object is used for iterative function

print(range(3)) # print range object
print(list(range(3))) # print range object after converting to list

range(0, 3)
[0, 1, 2]

In [10]:
# for loops by using range

for i in range(3):
    print(i)

0
1
2

In [16]:
# for loop example

games = ["Super Mario", "Call of Duty", "GTA5", "Witcher3"]

# for loop by using range

for i in range(len(games)):
    print(games[i])

# for loop directly in list element

for game in games:
    print(game)

Super Mario
Call of Duty
GTA5
Witcher3
Super Mario
Call of Duty
GTA5
Witcher3